<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/7ecf817e-15c9-404f-89b1-1f205830c098/resourcegroups/azure-dm-rg/providers/Microsoft.Web/sites/azure-dm-coffee</ResourceId>
    <ResourceGroup>azure-dm-rg</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://azure-dm-coffee.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/7ecf817e-15c9-404f-89b1-1f205830c098/resourceGroups/azure-dm-rg/providers/Microsoft.ContainerRegistry/registries/azuredmcr</ContainerResourceId>
    <ContainerResourceName>azuredmcr</ContainerResourceName>
    <Subscription>Visual Studio Professional</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://azuredmcr.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a45b2e0e-0b23-4fe9-adf5-702385206ab8</ProjectGuid>
  </PropertyGroup>
</Project>